body {
  background-color: #002e56;
  font-size: 14pt;
  line-height: 1.414em;
  margin: 0 auto;
}
footer,
.navbar {
  background-color: #002e56;
  color: #ffffea;
}
footer {
  text-align: center;
  width: 100%;
}
hr {
  background-color: #002e56;
  color: #002e56;
  height: 2px;
  width: 75.398%;
  margin: 1.414em 1.414em 1.414em 0;
}
img {
  max-width: 75.398%;
  padding: 1.414em;
}
small {
  font-size: 7pt;
}
.navbar .navbar-header a {
  color: #ffffea;
}
.navbar .navbar-header a:hover {
  color: #efc425;
}
.navbar .nav > li > a {
  color: #ffffea;
}
.navbar .nav > li > a:hover {
  color: #efc425;
}
.slideshow {
  list-style: none;
  position: relative;
  width: 706px;
  height: 316px;
}
.slideshow li {
  position: absolute;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
#content {
  margin: 1.414em auto;
  padding: 0 1.414em;
}
#outer {
  background-color: #ffffea;
  margin: 1.414em auto;
  padding: 1.414em;
}
#outer,
footer {
  border-radius: 0.3535em;
  padding: 1.414em;
}
